.git
.github
.env
.env.*
!.env.example

open-spanner.db*

**/node_modules
**/.venv
**/__pycache__
**/bin
**/obj

docs/.next
docs/out
sdk/typescript/dist
internal/ui/static/**
!internal/ui/static
!internal/ui/static/keep.txt

coverage
*.log
