OPEN_SPANNER_HTTP_ADDR=:18081
OPEN_SPANNER_DB_DRIVER=postgres
OPEN_SPANNER_POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/open_spanner?sslmode=disable

OPEN_SPANNER_RETENTION_PRUNE_ENABLED=false
OPEN_SPANNER_RETENTION_PRUNE_INTERVAL=1h
