open-spanner.db*
.env
.env.*
!.env.example
node_modules/
sdk/typescript/dist/
internal/ui/static/**
!internal/ui/static/
!internal/ui/static/keep.txt
.tools/
sdk/csharp/bin/
sdk/csharp/obj/
examples/csharp/bin/
examples/csharp/obj/
